/* Basic styles */
html {
    font-size: 20px;
}

body {
    color: rgb(1, 1, 105);
    background-color: rgb(210, 255, 212);
    background-image: linear-gradient(to bottom right, rgb(219, 255, 219), rgb(220, 231, 253));
    min-width: 400px;
}

/* Carousel section */

.logo {
    max-height: 2.5rem;
}

/* Guitar models section */

.guitar-models-container-index {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.guitar-model {
    margin: 1rem 2rem;
}

.guitar-model-img {
    border-radius: 25px;
    margin: 0.5rem;
}
.guitar-model-img:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}

.buy-container {
    margin: 1rem 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 250px;
}

/* Guitar Page section */

.guitar-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
}

.guitar-grid-image {
    margin: 2rem;
    background-image: linear-gradient(rgb(255, 255, 255), (#ffffff));
}

.guitar-text {
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    border: 2px solid lightgrey;
    padding: 2rem;
}

/* Contact page section */

.form-format {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5rem;
}

/* Tagline section */

.tagline-container {
    text-align: center;
    margin: 6rem auto;
}

/* Features section */

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.feature-box {
    border: 2px solid black;
    padding: 2rem;
    margin: 2rem;
    width: calc(90% - 10rem);
    text-align: center;
    box-sizing: content-box;
    min-width: 200px;
    border-radius: 35px;
}
.feature-box:hover {
    background-color: lightgrey;
}
.feature-image {
    width: 80%;
    max-width: 200px;
}



@media screen and (min-width: 768px) {
    .feature-box {
        width: calc(50% - 10rem);
    }
}

/* Call-to-action banner */

.call-to-action-container {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/images/guitars/calltoaction.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #3d3a3a;
    background-size: cover;
    color: lightgrey;

}



/* Footer */

.footer-link-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #777;
    border-radius: 3px;
    color: black;
    margin: 2rem auto;

}

@media screen and (min-width: 768px) {
    .footer-link-list {
        flex-direction: row;
    }
}